---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenue chez Numérience</h1>
			<p>
				Numerience est une société par actions simplifiée unipersonnelle (SASU) spécialisée dans le conseil en informatique, fondée par un expert passionné du secteur digital.
				Avec une solide expérience en gestion de projets complexes, j’accompagne mes clients dans la transformation numérique de leur organisation, 
				de la phase de réflexion stratégique à la mise en œuvre opérationnelle, en garantissant performance, agilité et innovation.
			</p>
			<p>
				En tant que consultant et directeur de projet, j’assure la planification, la coordination et le pilotage de programmes informatiques majeurs,
				en veillant à respecter les objectifs, les délais et les budgets fixés. 
				J’interviens également comme CTO de transition, en prenant en main la direction technique temporaire de PME ou ETI, 
				pour structurer les équipes, optimiser les systèmes d’information et accélérer l’innovation.
			</p>
			<p>
				Chez Numerience, chaque mission est menée avec engagement, transparence et une attention particulière portée à la création de valeur durable.
				Je m’appuie sur une approche pragmatique et une veille technologique constante pour proposer à mes clients des solutions sur mesure, 
				adaptées à leurs enjeux spécifiques.
			</p>
		</main>
		<Footer />
	</body>
</html>
